﻿@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<MovieList Movies="movies"/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){title="God of war",releaseDate=new DateTime(2022,01,01).ToString("dd-MM-yyyy")}
        };
    }
}
