﻿@page "/"
<p>Hello, @CustomToLower(name)</p>
<p>Let's add 2 + 2 = @(2+2)</p>
<button @onclick="@WriteLine">@StringUtilities.CustomToUpper("Click Me")</button>
<div>
        <h3>Movie</h3>
        <MovieList Movies="movies"/>
        <DommyInput/>
</div>
@code{
    string name = "Chhay Lin";
    string CustomToUpper(string value) => value.ToUpper();
    string CustomToLower(string value) => value.ToLower();
    void WriteLine()
    {
        Console.WriteLine("Hello from Method");
    }
    List<Movie> movies;
     protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){title="Clash Of Clan",releaseDate=new DateTime(2022, 01, 12).ToString("dd-MM-yyyy")}
        };
    }
}