﻿<p>@Movie.title</p>
<p>@Movie.releaseDate</p>
@if (DisplayCheckBox)
{
    <div>
        <button @onclick="Delete">Delete</button>
    </div>
}

@code {
    [Parameter] public Movie Movie {get;set;}
    [Parameter] public bool DisplayCheckBox { set; get; }
    void Delete()
    {
        Console.WriteLine($"Delete {Movie.title}");
    }
}
