﻿@if(Movies == null)
{
        <text>Loading.....</text>
        }
        else if(Movies.Count == 0)
        {
            <text>There are no Movies to show</text>
        }
        else
        {
            <text><input type="checkbox" @bind="displayCheckBox"/>Display Delete Button</text>
            @foreach (var item in Movies)
            {
                <IndiviualMovie Movie="item" DisplayCheckBox="displayCheckBox"/>
            }
        }

@code {
    [Parameter] public List<Movie> Movies{ get; set; }
    bool displayCheckBox = false;
}
